.about-sec{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    justify-content: space-around;
    margin-top: 250px;
}

.image-container{
    position: relative;
}

.image-container::after,
.image-container::before{
    content: "";
    width: 100%;
    background-color: #2B2730;
    height: 100%;
    position: absolute;
    right: 20px;
    z-index: -1;
    top: 5px;
    border-radius: 50%;
}

.image-container::before{
    background-color: #9575DE;
    right: 30px;
    top: 10px
}

.image-container img{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    object-fit:cover;
}


.about-text{
    width: 50%;
    font-size: 28px;
    text-align: right;
    line-height: 1.8;
}