.about-sec{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    justify-content: space-around;
    margin-top: 250px;
}

.image-container{
    position: relative;
    width: 30%;

}

.image-container::after,
.image-container::before{
    content: "";
    width: 100%;
    border-radius: 30px;
    background-color: #2B2730;
    height: 100%;
    position: absolute;
    right: 20px;
    z-index: -1;
    top: 5px
}

.image-container::before{
    background-color: #9575DE;
    right: 30px;
    top: 10px
}

.image-container img{
    width: 100%;
    border-radius: 30px 0 30px 30px;
    object-fit: fill;
}

.image-container .reactangle{
    background-color: #2B2730;
    height: 160px;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 20px;
    border-radius: 0 0 0 30px;
}

.reactangle .text{
    color: white;
    font-size: 25px;
    line-height: 1.4;
}

.about-text{
    width: 50%;
    font-size: 28px;
    text-align: right;
    line-height: 1.8;
}