.reviews-cont{
    text-align: center;
    position: relative;
    
}

.reviews-cont .heading{
    color: #2B2730;
    font-size: 56px;
}

.reviews-cont .text{
    color: #A7A7A7;
    width: 50%;
    font-size: 28px;
    margin: 10px auto;
}

.reviews-cont .blob{
    position: absolute;
    left: 0;
    z-index: -1;

}